#aside > div {
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 0.2em;
}

#aside .aside-header {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.5em;
}

#aside .task-items-container {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 0.2em;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
}

#aside .task-items-container div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
}

#aside .task-items-container .task-item-container-title {
    width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#aside .task-items-container button {
    color: white;
    font-size: inherit;
}

#aside .projects-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#aside .projects-container-header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4em;
    background-color: #008080cc; /* teal 0.8*/
    white-space: nowrap;
}

.remove-task-items-container-btn {
    color: red;
}

#aside .projects-container-header p {
    font-size: 2rem;
    font-weight: 600;
}

#aside #open-new-project-form-dialog-btn {
    color: white;
    font-size: 2.4rem;
    display: flex;
}

#aside .project-task-items-containers {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1em 0;
}

#aside .project-task-items-containers::-webkit-scrollbar {
    width: 0;
}

#clear-all-data-btn {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: #ff0000cc; /* red 0.8 */
    padding: 0.5em;
    border-radius: 0.2em;
    border: 0.125em solid #ff0000cc; /* red 0.8 */
}
