header > i {
    font-size: 1.8rem;
    color: var(--text-clr-3);
}

.hide-show-sidebar-btn {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.2em;
}

.hide-show-sidebar-btn:hover {
    background-color: #1e1e1e;
}

.hide-show-sidebar-btn img {
    width: 100%;
    height: 100%;
}
